<!DOCTYPE html>
<html lang="en">
</head>
<link rel="stylesheet" href="./static/style.css">
<body>
  <h1>
    Services
  </h1>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="about.html">PawSearch</a></li>
</ul>


<h3>
    What we offer
  </h3>
  <p>
    We offer an app where people can upload their missing pet or upload any strays they see in their neighborhood so that they can come and get picked up. If they are a lost pet, they will be returned to their owner and if they are a stray, they will be taken care of until we find them a home where they will be happy at.
  </p>